
/**************** ÍNDICE DE ESTILOS *****************
  
    ESTILO 01 - GERAL
    ESTILO 02 - DIV DE CARREGAMENTO
    ESTILO 03 - MENU 
    ESTILO 04 - PAINEIS DE ALERTA E CADASTRO
    ESTILO 05 - EFEITO DE POPUP
    ESTILO 06 - RELATÓRIOS
    ESTILO 07 - COLLAPSIBLE PANEL
    ESTILO 08 - ACCORDION

******************************************************/ 


/**************** ESTILO 01 *****************/

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

a:link{
    color: black;
    text-decoration: none;
}

body {
    font-family: Calibri;
    font-size: 16px;
}

.button{
    background-image: url(Imagem/botaoMaior.png);
    background-repeat: round;
    background-size: auto;
    color: black;
    font-family: Calibri;
    font-size: 17px;
    line-height: normal;
    text-align: center;    
    text-decoration: none;
    vertical-align: middle;
}

.buttonMenor{
    background-image: url(Imagem/botaoMaior.png);
    background-repeat: round;
    background-size: auto;
    color: black;
    font-family: Calibri;
    font-size: 18px;
    line-height: normal;
    text-align: center;    
    text-decoration: none;
    vertical-align: middle;
}

.conteudo {
    border: solid 1px;
    border-color: deepskyblue;
    font-family: Calibri;
    font-size: 16px;
    margin: 0 auto;
    min-width: 1024px; 
    overflow: auto;
    text-align: center;
    width:1024px;
}

    .conteudo a:hover {
        background-image: url(Imagem/botaoOverMaior.png);
    }

.conteudoPopup a:hover {
        background-image: url(Imagem/botaoOverMaior.png);
    }

.conteudoRelatorio {
    border: solid 1px;
    border-color: deepskyblue;
    font-family: Calibri;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width:97%;
}

    .conteudoRelatorio a:hover {
        background-image: url(Imagem/botaoOverMaior.png);
    }

.divButtons {
    background-color: #F2F2F2;
    border-top: solid 1px;
    border-color: lightgray;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.divButtonsFormulario {
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.divCabecalhoFormulario{
    background-color: #F2F2F2;
    border-bottom: solid 1px lightgray;
    border-color: lightgray;
    height: 53px;
    vertical-align: middle;
    width: 100%;
}

.divFormulario {
    text-align: left;
    width: 100%;
}

.divParametrosBusca {
    background-color: #F2F2F2; 
    border-bottom: solid 1px;
    border-color: deepskyblue;
    height: 51px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.grid {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.gridMenor {
    cursor: pointer;
    height: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.gridFooter{
    background-color: #F2F2F2;
    /*border-bottom: solid 1px;*/
    border-collapse: collapse;
    border-color: lightgrey;
    border-spacing: 0;
    /*border-top: solid 1px;*/
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.gridHeader {
    background: url(Imagem/coluna.png);
    background-repeat: repeat;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.gridHeaderMenor {
    background: url(Imagem/coluna_p.png);
    background-repeat: repeat;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.gridHeaderQuebra{
    background-color: #F2F2F2;
    /*border-bottom: solid 1px;*/
    border-collapse: collapse;
    border-color: lightgrey;
    border-spacing: 0;
    /*border-top: solid 1px;*/
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.gridItens {
    cursor: pointer;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.gridResponsivo {
    border: solid 1px;
    border-bottom: none;
    border-color: deepskyblue;
    bottom: 291px;
    left: 0%;
    margin: 0 auto;
    min-width: 1024px;
    padding: 0;
    position: absolute;
    right: 0%;
    top: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1024px;
}

.gridTelaInteira{
    cursor: pointer;
    position: relative;
    width: 100%;
}

.home {
    float: left;
    height: 75px;
    left: 10px;
    position: absolute;
    top: 4px;
    width: 75px;
}

.homeButtons {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}

hr {
    border: solid 1px deepskyblue;
}

.imagemBotaoPrincipal {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.invisivel {
    display: none;
}

.linhaAlternativa {
    background-color: #EFEFEF;
}

.rodape {
    align-self: center;
    border: solid 1px;
    border-color: deepskyblue;
    bottom: 0px;
    height: 291px;
    left: 0%;
    margin: 0 auto;
    min-width: 1024px;
    position: fixed;
    right: 0%; 
    text-align: center;
    width: 1024px;
}

    .rodape a:hover {
        background-image: url(Imagem/botaoOverMaior.png);
    }

.scrollVertical{
    overflow-y: scroll;
}

.sublinhado{
    text-decoration: underline;
}

.tableFormulario{
    text-align: left;
    width: 100%
}

.tableParametrosBusca{
    text-align: left;
}
    
textarea{
    resize: none;
}

.textCenter{
    text-align: center;
}

.textRight {
    text-align: right;
}

.tituloPagina {
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    left: 50%;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 70%;
}

.tituloPrincipal {
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.tipoLancamento {
    margin: 0 auto;
}

.ui-datepicker-trigger {
    background-color: white;
    border: none;
    outline: none;
    padding: 0px;
    padding-left: 3px;
    vertical-align: middle;
}

.visivel {
    display: normal;
}

/********************************************/


/**************** ESTILO 02 *****************/

.divLoad {
    background-color: #FFFFFF;
    bottom: 0px;
    display: block;
    filter: alpha(opacity=70);
    float: left;
    left: 0px;
    opacity: 0;
    position: fixed;
    right: 0px;
    top: 0px;
    transition: all 0.3s;   
    -moz-opacity: 0;
    z-index: 1;
}

.imLoad {
    float: left;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 255px;
    transform: scale(0.7);
    transition: all 0.3s;    
    width: 95%;    
    -webkit-transform: scale(0.7);
    z-index: 1;
    
}

/********************************************/


/**************** ESTILO 03 *****************/

.secondLevelMenu {
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 220px;
    z-index: 2;
}

    .secondLevelMenu > li {
        background-color: #efefef;
        border: solid 1px #cfcfcf;
        height: 35px;
        position: relative;
        z-index: 2;
    }

        .secondLevelMenu > li:hover {
            background-color: gray;
            z-index: 2;
        }

        .secondLevelMenu > li > a:hover {
            color: white;
            font-weight:bold;
            z-index: 2;
        }


.setaDireita:after {
    border-bottom: 5px solid transparent;
    border-left: 9px solid black;
    border-top: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 11px;
    vertical-align: middle;
    width: 0; 
}

.stringUsuario {
    float: right;
    height: 33px;
    position: relative;
    right: 10px;
    top: 6px;
}


.thirdLevelMenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -280px;
    top: 0;
    width: 280px;
}

    .thirdLevelMenu > li {
        background-color: #efefef;
        border: solid 1px #cfcfcf;
        height: 35px;
    }

        .thirdLevelMenu > li:hover {
            background-color: gray;
        }

        .thirdLevelMenu > li > a:hover {
            color: white;
            font-weight: bold;
        }
        

.topLevelMenu {
    background: url(Imagem/menu.png);
    float: left;
    font-size: 15px;
    height: 33px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 8px;
    width: 100%;
}

    .topLevelMenu > li {
        background: url(Imagem/menu.png);
        float: left;
        height: 33px;
        position: relative;
        width: 100px;
    }

    .topLevelMenu li:hover > ul {
        display: inline;
    }


    .topLevelMenu a {
        color: #000000;
        display: block;
        line-height: 30px;
        padding: 0 0 0 10px;
        text-decoration: none;
    }

        .topLevelMenu a:hover {
            color: black;
        }
        
/********************************************/


/**************** ESTILO 04 *****************/

.contendCancelar{
    font-family: Calibri;
    font-size: 18px;
    width: 450px;
}

.contendConfirmar{
    font-family: Calibri;
    font-size: 18px;
    width: 550px;
}

.contendGeral{
    font-family: Calibri;
    font-size: 18px;
}

.divButtonsPanel {
    background-color: #F2F2F2;
    border-top: solid 1px;
    border-color: lightgrey;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

    .divButtonsPanel a:hover {
        background-image: url(Imagem/botaoOverMaior.png);
    }

.divPopup {
    height: 100%;
    left: 0px;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0px;
    transition: all 0.3s;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.3s;
}

.divPopupBack {
    background-color: White;
    filter: alpha(opacity=70);
    height: 100%;
    left: 0px;
    opacity: 0.7;
    position: relative;
    top: 0px;
    width: 100%;
    -moz-opacity: 0.7;
}

.divPopupContend {
    background-color: White;
    border: solid 1px #69bbe3;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 15%;
    transform: translateX(-50%) scale(0.7);
    transition: all 0.3s;
    -webkit-transform: translateX(-50%) scale(0.7);
    -webkit-transition: all 0.3s;
}

.divPopupHeader {
    background-image: url('Imagem/coluna.png');
    background-repeat: repeat-x;
    border-bottom: solid 1px #69bbe3;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
    text-align: center;
}

/********************************************/


/**************** ESTILO 05 *****************/

.divLoad1 {
    opacity: 0.7;
    -moz-opacity: 0.7;
}

.divPopup1 {
    opacity: 1;
    visibility: visible;
}

.divPopupContend1 {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    -webkit-transform: translateX(-50%) scale(1);
}

.imLoad1 {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

/********************************************/


/**************** ESTILO 06 *****************/

.relatorio{
    border: solid; 
    border-color: #808080; 
    border-width: 1px; 
    margin: 0 auto;
    text-align: left;
    width: 1000px; 
}

.relatorio td {
    vertical-align: top;
}

.relatorioFooter{
    border: solid 1px;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.relatorioFooter td {
    vertical-align: middle;
}

.relatorioHeader{
    border: solid 1px;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.relatorioHeader td {
    vertical-align: middle;
}

.relatorioItens {
    border-bottom: solid 1px;
    border-collapse: collapse;
    border-left: solid 1px;
    border-right: solid 1px;
    border-spacing: 0;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.relatorioItens td {
    vertical-align: top;
}

.relatorioQuebrarPagina{
    page-break-after: always;
}

.tdInicioRel{
    padding-left: 2px;
}

.tdFinalRel{
    padding-right: 2px;
}

/********************************************/


/**************** ESTILO 07 *****************/

.container {
    width: 100%;
}

    .container .content {
        display: none;
        padding: 0px;
    }

    .container div {
        width: 100%;
    }

    .container .header {
        padding: 0px;
    }

/********************************************/


/**************** ESTILO 08 *****************/

.accordion {
    border-top: solid 1px deepskyblue;
    font-size: 16px;
    width: 100%;
}

.accordionLabel {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.accordion li {
    margin: 0;
    padding: 0;
}

.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    font-weight: 900;
}

.accordion .content {
    border: 1px solid #fff; 
    overflow: hidden;
    -moz-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
}

.divFormularioAccordion {
    min-width: 890px;
    padding: 5px;
    text-align: left;
    width: 100%;
}

.headerContentAccordion{
    height: 5px;
}

.horizontal {
    overflow: hidden;
    height: 290px;
}

.horizontalLabel {
    float: left;
    height: 288px;
    letter-spacing: 10px;
    padding: 10px 0 10px 5px;
    text-align: center;
    width: 22px;
    word-wrap: break-word;
}

.horizontal ul li {
    float: left;
    margin: 0 0 0 0;
}

.horizontal ul li .content {
    border: 0;
    display: inline-block; 
    height: 300px;
    padding: 0;
    visibility: hidden; 
    width: 0px;
}

.horizontal [type=radio]:checked ~ label {
    border: 0;    
}

.horizontal ul li label:hover {
    border: 0px solid #542437;
}

.horizontal [type=radio]:checked ~ label ~ .content {
    visibility: visible;
    width: 890px;
}

/********************************************/

 